@charset "utf-8";
/*
	Last Update:2020/01/05
	Auther:iw
*/
/*===================================================================
	layout
===================================================================*/
body { text-align:center; }
body, #base, #body { position:relative;  overflow-x:hidden; }

.wrapper, .wrapper-t, .wrapper-b { position:relative; }
	@media (max-width: 767px){
		.wrapper, .wrapper-t { padding-top:70px; }
		.wrapper, .wrapper-b { padding-bottom:70px; }
	}
	@media (min-width: 768px){
		.wrapper, .wrapper-t { padding-top:100px; }
		.wrapper, .wrapper-b { padding-bottom:100px; }
	}

.center, .center2 { margin:0 auto; text-align:left; }
.center { max-width:1300px; }
.center2 { max-width:800px; }
	@media (max-width:1330px){
		.center { padding-left:15px; padding-right:15px; }
	}
	@media (max-width: 830px){
		.center2 { padding-left:15px; padding-right:15px; }
	}


/*===================================================================
	#head
===================================================================*/
#head { position:relative; top:0; left:0; width:100%; z-index:990; }
#head a { text-decoration:none; }
#head h1 { background:#b1d6f3; }
#head h1 img { max-width:1300px; }
	@media (max-width: 991px){
		#head.fixed { position:fixed; box-shadow:3px 0 3px #999; }
	}

#btn_open {}
	@media (max-width: 991px){
		#btn_open { width:60px; text-align:right; padding-right:15px; }
		#btn_open a { display:block; font-size:36px; line-height:1px; }
		#menu_cover { background:rgba(255,255,255,0.9); position:absolute; top:0; left:0; z-index:900; width:100vw; height:100%; overflow:hidden; }
	}
	@media (min-width: 992px){
		#btn_open { display:none !important; }
	}

#head_navi { background:#1b6fb1; }
#head_navi .navi_wrap { display:table; width:100%; }
#head_navi .navi_wrap > * { display:table-cell; vertical-align:middle; }
#head_navi .main ul { display:table; width:100%; max-width:900px; }
#head_navi .main li { display:table-cell; vertical-align:middle; border-right:1px solid #1b6fb1; }
#head_navi .main a { display:block; color:#fff; padding:20px 0; text-align:center; }
body.pc #head_navi .main a:hover { background:#d9eeff; color:#1b6fb1; }

#rental #head_navi .main .navi1 a,
#guide #head_navi .main .navi2 a,
#company #head_navi .main .navi5 a,
#recruit #head_navi .main .navi6 a { background:#fff; color:#1b6fb1; font-weight:bold; border-bottom:5px solid #11456f; padding:20px 0 15px; }

#head_search {}
#head_search form { display:table; width:100%; max-width:450px; margin:0 0 0 auto; border:3px solid #d9eeff; background:#fff; }
#head_search form > span { display:table-cell; vertical-align:middle; }
#head_search form i { padding:0 0 0 5px; font-size:20px; }
#head_search input[type="text"] { width:100%; padding:10px 5px; border:none; }
#head_search .btn_search { width:100%; padding:10px 5px; border:none; border-radius:0; background:#d9eeff; }
body.pc #head_search .btn_search:hover { background:#b1d6f3; }


/*===================================================================
	#foot
===================================================================*/
#foot { position:relative; background:#f8fbfd; }
#foot a { color:#444; text-decoration:none; }
#foot .foot_wrap { font-size:0.9em; text-align:center; }
#foot .foot_navi ul { text-align:center; }
#foot .foot_navi li { display:inline-block; line-height:100%; padding:0 15px; border-right:1px solid #444; }
#foot .foot_navi ul > li:last-child { border:none; }
#copyright { background:#1b6fb1; font-size:13px; text-align:center; color:#fff; padding:5px 0; margin-top:30px; }

#pagetop { position:fixed; bottom:0; right:0; z-index:9000;  line-height:100%; }
#pagetop a { color:#fff; text-decoration:none; display:block; padding:15px 25px; background:#1b6fb1; }
body.pc #pagetop a:hover { opacity:0.8; }
	@media (max-width: 575px){
		#foot { padding:30px 0 0; }
		#foot h5 img { max-width:170px; }
		#pagetop { font-size:20px; }
	}
	@media (min-width: 576px){
		#foot { padding:30px 0 0; }
		#foot h5 img { max-width:250px; }
		#pagetop { font-size:40px; }
	}


/*===================================================================
	#common
===================================================================*/
/* pankuzu */
#pankuzu { text-align:left; font-size:13px; color:#444; padding:10px 0 30px; }
#pankuzu a { color:#04326a; }
#pankuzu li { display:inline-block; }
#pankuzu li:before { content:"\f054"; font-family:"Font Awesome 5 Free"; -webkit-font-smoothing:antialiased; text-rendering:auto; font-variant:normal; font-weight:bold; font-size:0.85em; line-height:200%; padding:0 10px; color:#999; }
#pankuzu ul > li:first-child:before { display:none; }
	@media (max-width: 575px){
		#pankuzu { display:none; }
	}
